body {
   
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.form-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #ccc;
  padding: 20px;
  width: 300px;
}

.form-container h2 {
  text-align: center;
}

.form-container label {
  margin-top: 10px;
  display: block;
}

.form-container input[type="text"], .form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-container input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.form-container input[type="submit"]:hover {
  background-color: #45a049;
}


#signupButton {
  display: inline-block;
  background-color: #008CBA; 
  border: none;  
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
}

#signupButton:hover {
  background-color: #007B9A; 
}

